<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.st.dao.TestDao">
	<insert id="addBM" parameterType="map">
		insert into bumen values
		(#{uuid},#{bmname})
	</insert>

	<select id="getAllJuese" resultType="map">
		select * from `role` where
		role_id like '%${checktext}%' or role_name
		like
		'%${checktext}%'
	</select>

	<select id="getCount" parameterType="map" resultType="int">
		select
		count(*)from role where role_name like '%${checktext}%'
	</select>

	<delete id="delRole" parameterType="map">
		delete from role where
		role_id = #{role_id}
	</delete>

	<delete id="delrole_permission" parameterType="map">
		delete from role_permission where
		role_id = #{role_id}
	</delete>
	<insert id="addRole" parameterType="map">
		insert into role
		(role_id,role_name) values (#{role_id},#{role_name})
	</insert>

	<update id="updateRole" parameterType="map">
		update role set
		role_name=#{role_name} where role_id=#{role_id}
	</update>
	<insert id="role_perm" parameterType="map">
		insert into role_permission(role_id,perm_id)
		values
		<foreach collection="perms" item="item" index="index"
			separator=",">
			(#{role_id},#{item})
		</foreach>
	</insert>

	<select id="getPermByUsername" resultType="com.st.bean.PermBean">
		select e.*from user as
		a LEFT JOIN user_role as b on a.user_id = b.user_id
		LEFT JOIN role AS c on b.role_id=c.role_id
		LEFT JOIN role_permission as d on c.role_id=d.role_id
		LEFT JOIN permission as e on d.perm_id=e.perm_id
		where d.perm_id is not NULL
	</select>
</mapper>