<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.st.dao.UserDao">



	<select id="getCount" parameterType="map" resultType="int">
		select
		count(*)from user where username like '%${checktext}%'
	</select>

	<select id="getAlluser" resultType="map">
		SELECT
		a.*,GROUP_CONCAT(c.role_name) as zhiwei from
		`user` as a LEFT JOIN
		user_role as b on a.user_id = b.user_id
		LEFT JOIN role AS c on
		b.role_id = c.role_id
		GROUP BY a.username DESC limit ${start},${limit}
	</select>

	<select id="getaddcount" parameterType="map" resultType="int">
		select
		count(*) from `user` where user_id like #{user_id}
	</select>

	<insert id="addUser" parameterType="map">
		insert into user
		(user_id,username,userpass,sex,tel,fasttime,lasttime)
		values
		(#{user_id},#{username},#{userpass},#{sex},#{tel},now(),now())
	</insert>

	<delete id="delUser" parameterType="map">
		delete from user where
		user_id = #{user_id}
	</delete>

	<update id="updateUser" parameterType="map">
		update user set
		username=#{username},tel=#{tel},fasttime=now(),lasttime=now(),sex=#{sex}
		where user_id=#{user_id}
	</update>

	<insert id="add_user_role" parameterType="map">
		insert into user_role (user_id,role_id)
		values
		<foreach collection="role_id" item="item" index="index"
			separator=",">
			(#{user_id},#{item})
		</foreach>
	</insert>

	<delete id="delUser_role" parameterType="map">
		delete from user_role
		where
		user_id = #{user_id}
	</delete>

	<select id="getUser" resultMap="user_map">
		select *from user
		where
		username=#{username}
	</select>

	<resultMap id="user_map" type="com.st.bean.User">
		<result column="user_id" property="user_id"></result>
		<result column="username" property="username"></result>
		<result column="userpass" property="userpass"></result>
		<collection column="user_id" property="roles"
			select="user_role_list">
		</collection>
	</resultMap>
	<select id="user_role_list" resultMap="role_map">
		select b.* from user_role
		as a left join role as b on a.role_id = b.role_id
		where a.user_id =
		#{user_id}
	</select>

	<resultMap id="role_map" type="com.st.bean.Role">
		<result column="role_id" property="role_id"></result>
		<result column="role_name" property="role_name"></result>
		<collection column="role_id" property="permissions"
			select="role_permission_list">
		</collection>
	</resultMap>
	<select id="role_permission_list"
		resultType="com.st.bean.Permission">
		select b.* from role_permission as a left join permission
		as b on a.perm_id
		= b.perm_id
		where a.role_id = #{role_id}
	</select>

	<select id="getallrole" resultType="String">
		select DISTINCT c.role_id
		from user as a join user_role as b on a.user_id
		= b.user_id
		JOIN role as c on b.role_id = c.role_id
		where a.user_id = #{user_id}
	</select>
</mapper>